<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpu.seoulclub.mapper.ClubMapper">

	<insert id="create">
		insert into club (name, introduce, description, picturePath, maxPeople, isprivate, isadmission, lno, concern)
		values (#{name}, #{introduce}, #{description}, #{picturePath}, #{maxPeople}, #{isprivate}, #{isadmission}, #{lno}, #{concern})
	</insert>

	<select id="read" resultType="ClubVO">
		select cno, name, description, introduce, picturePath, maxPeople, isprivate, isadmission, lno, concern
		from club
		where cno = #{cno}
	</select>
	
	<update id="update">
		update club set 
		name=#{name}, 
		description=#{description}, 
		introduce=#{introduce}, 
		picturePath=#{picturePath}, 
		maxPeople=#{maxPeople},
		isprivate=#{isprivate},
		isadmission=#{isadmission}, 
		lno=#{lno},
		concern=#{concern}
		where cno = #{cno}
	</update>
	
	<delete id="delete">
		delete from club where cno = #{cno}
	</delete>
	
	<select id="listAll" resultType="ClubVO">
	<![CDATA[
		select cno, name, description, introduce, picturePath, maxPeople, isprivate, isadmission, lno, concern
		from club
	]]>
	</select>
	
</mapper>