<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpu.seoulclub.mapper.ClubMapper">
	<insert id="create" keyProperty="cno" useGeneratedKeys="true"> 
		INSERT INTO club(
			name, 
		    introduce, 
		    description, 
		    maxPeople, 
		    storedFolder, 
		    storedFile, 
		    originalFileName, 
		    fileSize, 
		    location, 
		    concern, 
		    uno)
		VALUES (
		    #{name},
		    #{introduce},
		    #{description},
		    #{maxPeople},
		    #{storedFolder},
		    #{storedFile},
		    #{originalFileName},
		    #{fileSize},
		    #{location},
		    #{concern},
		    #{uno}
		    );
	</insert>
	
	
	<insert id="createClubMember">
		INSERT INTO clubmember(
			cno,
			uno,
			name,
			id,
			authority)
		VALUES (
		    #{cno},
		    #{uno},
		    #{name},
		    #{id},
		    #{authority}
		    );
	</insert> 
	
	<delete id="delete">
		DELETE FROM club WHERE cno = #{cno}
	</delete> 
	
	<delete id="deleteClubMember">
		DELETE FROM clubmember WHERE cno = #{cno} and uno = #{uno}
	</delete> 
	
	<select id="countClubMember">
		SELECT count(*) FROM clubmember WHERE cno = #{cno}
	</select>
	
	<select id="nameCount" resultType="int">
		SELECT COUNT(cno)
		FROM club
		WHERE name = #{name}
	</select>
	
	<!-- <select id="cnoCount" resultType="int">
		SELECT MAX(cno)
		FROM club
	</select> -->
	
	<select id="listAll" resultType="ClubVO">
		SELECT 	c.cno, c.name, c.introduce, count(*) as currentPeople, c.maxPeople, c.location, c.concern, c.storedFolder, c.storedFile,
		    CONCAT("/photo/", c.storedFolder, "/", c.storedFile) as imgurl
		FROM 	(SELECT club.*, timeline.regDate FROM club JOIN timeline ON club.cno = timeline.cno) c, clubmember cm
		WHERE 	c.cno = cm.cno
		ORDER BY c.regDate DESC
	</select>
	
	
	
	<select id="myclub" resultType="ClubVO">
		SELECT 	c.cno, c.name, c.introduce, count(*) as currentPeople, c.maxPeople, c.location, c.concern, c.storedFolder, c.storedFile,
		    CONCAT("/photo/", c.storedFolder, "/", c.storedFile) as imgurl
		FROM 	club c, clubmember cm
		WHERE 	c.cno = cm.cno
		AND 	c.cno = #{cno}
	</select>
	
	
	<select id="listByCL" resultType="ClubVO">
		SELECT 	c.cno, c.name, c.introduce, count(*) as currentPeople, c.maxPeople, c.location, c.concern, c.storedFolder, c.storedFile,
		    CONCAT("/photo/", c.storedFolder, "/", c.storedFile) as imgurl
		FROM 	club c, clubmember cm
		WHERE 	c.cno = cm.cno
		WHERE c.location like CONCAT("%",#{location},"%") OR c.concern like CONCAT("%",#{concern}, "%")
		ORDER BY c.name ASC
	</select>
	
	<select id="listByUno" resultType="ClubVO">
		SELECT 	c.cno, c.name, c.introduce, count(*) as currentPeople, c.maxPeople, c.location, c.concern, c.storedFolder, c.storedFile,
		    CONCAT("/photo/", c.storedFolder, "/", c.storedFile) as imgurl
		FROM 	club c, clubmember cm
		WHERE 	c.cno = cm.cno
		AND 	c.uno = #{uno}
		ORDER BY c.name ASC
	</select>
	
</mapper>