<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpu.seoulclub.mapper.UserMapper">
	
	<insert id="create">
		INSERT INTO user(id, pwd, name, nickName, sex, introduce, birth, storedFolder, storedFile, originalFileName, uploadDate, fileSize, location, concern) 
		VALUES (#{id}, #{pwd}, #{name}, #{nickName}, #{sex}, #{introduce}, #{birth}, #{storedFolder}, #{storedFile}, #{originalFileName}, now(), #{fileSize}, #{location}, #{concern});
	</insert>

	<select id="read" resultType="UserVO">
		select uno, id, pwd, name, nickName, sex, introduce, birth, picturePath, lno
		from user
		where uno = #{uno}
	</select>
	
	<update id="update">
		update user set name=#{name}, nickName=#{nickName}, introduce=#{introduce}, birth=#{birth}, picturePath=#{picturePath}, lno=#{lno}
		where uno = #{uno}
	</update>
	
	<update id="updatePhoto">
		update user set storedFolder = #{storedFolder}, storedFile = #{storedFile}
		where uno = #{uno}
	</update>
	
	<delete id="delete">
		delete from user where uno = #{uno}
	</delete>
	
	<select id="listAll" resultType="UserVO">
	<![CDATA[
		select uno, id, pwd, name, nickName, sex, introduce, birth, picturePath, lno
		from user
	]]>
	</select>
	
	<select id="listConcern" resultType="ConcernVO">
	<![CDATA[
		select * from concern
	]]>
	</select>
	
	<select id="idCount" resultType="int">
	<![CDATA[
		SELECT COUNT(uno) from user where id like #{id};
	]]>
	</select>
	
</mapper>